Django==6.0.6
gunicorn==26.0.0
sqlparse==0.5.5
asgiref==3.11.1
whitenoise==6.9.0
# mysqlclient (opcional, solo si usas MySQL):
#   Windows: pip install mysqlclient (requiere MS VC++ Build Tools)
#   Linux:   sudo apt install default-libmysqlclient-dev && pip install mysqlclient
#   Mac:     brew install mysql-client && pip install mysqlclient
# mysqlclient==2.2.8
