# Framework Principal (Versión LTS compatible con MariaDB 10.4)
Django==4.2.11

# Conector de base de datos para MariaDB/MySQL (requiere compilador C)
mariadb==1.1.10

# Utilidades opcionales pero recomendadas
python-dotenv==1.0.1
sqlparse==0.4.4