{% if user.is_authenticated %}
{# Offcanvas sidebar for mobile #}
<div class="offcanvas offcanvas-start d-lg-none text-white bg-dark" tabindex="-1" id="sidebarOffcanvas" aria-labelledby="sidebarLabel">
  <div class="offcanvas-header">
    <span class="fs-5 fw-semibold" id="sidebarLabel">Dashboard</span>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body p-0">
    {% include 'sidebar_menu.html' %}
  </div>
</div>

{# Inline sidebar for desktop #}
<div class="d-none d-lg-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 250px; min-height: calc(100vh - 56px);">
  <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 text-white text-decoration-none">
    <span class="fs-5 fw-semibold">Dashboard</span>
  </a>
  <hr>
  {% include 'sidebar_menu.html' %}
</div>
{% endif %}
